<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.com">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css">

    <title>Edit EMP</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">EMP System</a>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active"><a class="nav-link" href="/">Home</a></li>
            <li class="nav-item active"><a class="nav-link" href="#">Edit Emp</a></li>
        </ul>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body">
                    <h4 class="text-center text-primary">Edit Emp</h4>
                    <!-- This form uses POST to update an existing employee -->
                    <form th:action="@{/update}" method="post">
                        <input type="hidden" th:value="${emp.id}" name="id"/> <!-- Employee ID to identify the employee -->

                        <div class="form-group">
                            <label>Enter Full Name</label>
                            <input type="text" class="form-control" th:value="${emp.name}" name="name">
                        </div>
                        <div class="form-group">
                            <label>Enter Address</label>
                            <input type="text" class="form-control" th:value="${emp.address}" name="address">
                        </div>
                        <div class="form-group">
                            <label>Enter Email</label>
                            <input type="email" class="form-control" th:value="${emp.email}" name="email">
                        </div>
                        <div class="form-group">
                            <label>Enter Phone No</label>
                            <input type="text" class="form-control" th:value="${emp.phno}" name="phno">
                        </div>
                        <div class="form-group">
                            <label>Enter Salary</label>
                            <input type="number" class="form-control" th:value="${emp.salary}" name="salary">
                        </div>
                        <button class="btn btn-primary btn-block">Update</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
